<li class="like-button" 

	id="track-{{number_list}}"
	
	data-id="{{id}}"
	data-title="{{title}}"
	data-picture="{{picture}}"
	data-duration="{{duration}}">

	<div class="row entry">

		<a href="" id="track-{{number_list}}">

			<div class="col-md-2 pl2">
				<img class="img-rounded preview" src="{{picture}}" />
			</div>

			<div class="col-md-7">
				<h3>{{title}}</h3>
				<span class="list-meta">{{readable_duration}}</span>
			</div>

			<div class="col-md-3">
				<div id="push-details" class="push-details">
					<!-- here will go the pushing text details -->
				</div>
			</div>

		</div>
	</div>
</li>
