
<% if (req.session.errorMsg) { %>
    <div class="notice notice-error"><%= req.session.errorMsg %></div>
<% delete req.session.errorMsg; } %>

<div class="spacer50"></div>

<div class="container text-center">

    <!-- Logo + Punchline -->
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1><strong>Unicorn.</strong> <br/> <small><%- __('Punchline') %></small></h1>
        </div>

            <div>
                <div id="join-form" class="hidden">
                    <form method="post" action="#/try-join">
                        <input id="join-name" class="form-control input-lg" placeholder="Flowers" name="name" autocomplete="off" /><br/>
                        <button type="submit" class="btn btn-lg btn-primary btn-home w100"><i class="fa fa-cloud-upload"></i> <%- __('Join') %></button>
                    </form>
                </div>

                <div id="join-link" class="show">
                    <a class="btn btn-lg btn-primary btn-home w100" href="#/join"><i class="fa fa-cloud-upload"></i> <%- __('Join') %></a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="spacer10"></div>
            <div>
                <a href="/create" class="btn btn-lg btn-home btn-primary w100"><i class="fa fa-cloud"></i> <%- __('Create') %></a>
            </div>

        <hr>

        <div class="text-center">
            <small><%- __('Crafted by Ges Jérémie and Laurent Schaffner at Bordeaux, France') %></small><br/>
            <small><%- __('Version %s', '0.0.2b') %></small>
        </div>
    </div>
</div>
